.reviewcontainer1{
    margin:80px;
    background-color: white;
    height: 200px;
    padding-top: 40px;
}
.reviewcontainer2{
     margin:80px;
    background-color: white;
    height: 400px;
    padding-top: 40px;
}
.reviewcontainer3{
    margin:80px;
    background-color: white;
    height: 500px;
    padding-top: 40px;
}

.reviewtitle{
    margin-top: 30px;
    margin-left: 97px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
 
    color: rgb(103, 88, 170);
}
.reviewpara{
    margin-left: 98px;
    font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
   
    color: rgb(103, 88, 170);
}
.reviewexp{
    margin-top: -10px;
    float: left;
    margin-left: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
 
    color: rgb(103, 88, 170);

}
.reviewfeed{
    margin-top: -10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
     text-align: center;
     margin-left: 10px;
    color: rgb(103, 88, 170);

}
.reviewperson{
    margin-top: -10px;
    float: left;
    margin-left: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
 
    color: rgb(103, 88, 170);
}

.reviewcontact{
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
     
     margin-left: 530px;
    color: rgb(103, 88, 170);

}
.reviewaddress{
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
     
     margin-left: 568px;
    color: rgb(103, 88, 170);
}
.reviewname{
    
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
     float: left;
     margin-left: 140px;
    color: rgb(103, 88, 170);
}

.reviewcomplaint{
    text-align: center;
    margin-left: 230px;
    color: rgb(103, 88, 170);
}
.reviewairprogram{
    text-align: right;
    margin-top: -148px;
    margin-right: 48px;
    color: rgb(103, 88, 170);
    font-weight: bold;
}
.reviewairlines{
    text-align: right;
    margin-right: 18px;
    color: rgb(103, 88, 170);
   
}

.reviewflight{
    margin-top: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
     
     margin-left: 530px;
    color: rgb(103, 88, 170);
}
.reviewdate{
    text-align: center;
    margin-left: 42px;
    color: rgb(103, 88, 170);

}




.reviewticketnumber{
    margin-top: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
     
     margin-left: 530px;
    color: rgb(103, 88, 170);

}
.reviewfetchticket{
    text-align: center;
    margin-left: 42px;
    color: rgb(103, 88, 170);
}
.reviewreply{
    margin-top: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
     
     margin-left: 530px;
    color: rgb(103, 88, 170);
}
.reviewfetchreply{
    text-align: center;
    margin-left: 42px;
    color: rgb(103, 88, 170);
}
.reviewcomment{
    text-align: right;
    margin-top: -305px;
    margin-right: 48px;
    color: rgb(103, 88, 170);
    font-weight: bold;

}
.reviewfetchcomment{
    text-align: right;
    color: rgb(103, 88, 170);
}
.reviewattachments{
    text-align: right;
    margin-top: 30px;
    margin-right: 24px;
    color: rgb(103, 88, 170);
    font-size: 20px;
    font-weight: bold;

}
.revattachments{
    text-align: right;
    margin-right: 78px;
    color: rgb(103, 88, 170);
}
.reviewfinal{
    background-color: red;
    padding: 15px 80px;
    color:wheat;
    font-weight: bold;
    border:none;
    margin-right: 190px;
    float: right;
    margin-bottom: 40px;
}